.bio {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }
  p + p {
    margin-top: 6px;
    & ~ p {
      margin-top: 6px;
    }
  }

  img {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
  }
}

.head-line {
  height: 5px;
  width: 100%;
  margin-top: 24px;
  background: #016866;
}
