.internExperience {
  p strong {
    font-weight: normal;
    color: #05aea6;
  }
  > ol {
    margin-top: 0;
    list-style-position: inside;
    padding: 0;
    > li {
      margin: 16px 0;
      > header {
        > h4 {
          display: flex;
          justify-content: space-between;
          margin: 4px 0;
        }
      }
    }
  }
}
